.root {
    -fx-accent: #007aff;
    -fx-focus-color: #0A60FF;
}

* {
    -fx-font-family: "SF Pro Text";
    letter-spacing: -.022em;
    -fx-font-weight: bold;
}


/*.label {*/
/*    -fx-font-family: "Helvetica Neue";*/
/*    -fx-font-weight: bold;*/
/*    -fx-font-style: normal;*/
/*    -fx-font-size: 17px;*/
/*}*/

/*.title {*/
/*    -fx-font-family: "Helvetica Neue";*/
/*    -fx-font-weight: BOLD;*/
/*}*/


/*.titled-pane > .title {*/
/*    -fx-font-family: "Helvetica Neue";*/
/*}*/

.button {
    -fx-background-color: #106BFF;
    -fx-text-fill: #fff;
}

.choice-box {
    -fx-background-color: #fff;
    -fx-mark-color: #106BFF;
}

.choice-box > .label {
    -fx-text-fill: #000;
}

.choice-box .context-menu {
    -fx-background-color: #fff;
}



.table-view {
    -fx-min-height: 120px;
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: #D8D8D8;
    -fx-text-fill: #000;
    -fx-font-size: 10pt;
    -fx-font-family: "SF Pro Text";
    -fx-font-style: normal;

}



.diary-table-column {
    -fx-pref-width: 350px;
}



.add-table-column {
    -fx-pref-width: 350px;
}

.progress-bar .bar {
    -fx-padding: 3px;
    -fx-background-insets: 0;
    -fx-box-border: #D9D9D9;
    -fx-accent: #3B99FC;
    -fx-pref-width: 100px;
}

.progress-bar > .track {
    -fx-text-box-border: #D9D9D9;
    -fx-control-inner-background: #D9D9D9;
}

.error-label {
    -fx-text-fill: #FC2B2D;
}

.success-label {
    -fx-text-fill: #30D33B;
}
